#!/bin/bash

NAME="containerName"

SERVICES=(
  "-p addr:local:container/proto"
  "-p addr:local:container/proto"
)

VOLUMES=(
  "-v local:mount"
)

EMULATOR="qemu-system-x86_64"
QEMUVNC="0.0.0.0:0"
QEMUMEM="8G"
QEMUDRIVES=(
  "-drive <qemu drive>"
  "-drive <qemu drive>"
)
QEMUNET=(
  "id=mynet0,net=10.11.12.0/24,dhcpstart=10.11.12.13"
)
QEMUFWD=(
  "hostfwd=proto:localaddr:localport-vmaddr:vmport"
)
QEMUOPTS=(
  "-enable-kvm"
  "-monitor stdio"
  "-cpu host"
  "-machine pc-q35-2.12"
  "-smp sockets=1,cores=4,threads=2"
  "-device qemu-xhci"
  "-device usb-tablet"
  "-net nic -net user,${QEMUNET[*]},${QEMUFWD[*]}"
  "-m ${QEMUMEM}"
  "${QEMUDRIVES[*]}"
  "-vnc ${QEMUVNC}"
)
