#!/bin/bash

CONTAINER="dnsmasq"
IMAGE="zucchini-pxe:latest"

ENV=()

DNSMASQ_CONF="/root/zucchini-containers/podman/zucchini-installer/config/dnsmasq/dnsmasq.conf"
DNSMASQ_CONFDIR="/root/zucchini-containers/podman/zucchini-installer/config/dnsmasq/dnsmasq.d"
PXELINUX_DEFAULT_CONF="/root/zucchini-containers/podman/zucchini-installer/config/pxelinux/pxelinux.default.cfg"
OSIMAGES_DIR="/root/images"

CTR_EXTRA=(
  "--privileged"
  "--net host"
)

MOUNTS=(
  "-v ${DNSMASQ_CONF}:/etc/dnsmasq.conf:Z"
  "-v ${DNSMASQ_CONFDIR}:/etc/dnsmasq.d:Z"
  "-v ${PXELINUX_DEFAULT_CONF}:/var/tftpboot/pxelinux.cfg/default:Z"
  "-v ${OSIMAGES_DIR}:/var/tftpboot/images:Z"
)
