#!/bin/bash

CONTAINER="nginx"
IMAGE="nginx:latest"

ENV=()

NGINX_CONFDIR="/root/zucchini-containers/podman/zucchini-installer/config/nginx"
IGNITION_CONFDIR="/root/zucchini-containers/podman/zucchini-installer/config/ignition"
OSIMAGES_DIR="/root/images"

CTR_EXTRA=(
  "--privileged"
  "--net host"
)

MOUNTS=(
  "-v ${NGINX_CONFDIR}:/etc/nginx:Z"
  "-v ${IGNITION_CONFDIR}:/ignition:Z"
  "-v ${OSIMAGES_DIR}:/images:Z"
)
