#!/bin/bash
#
# Podman pod config file

# Common options

# Sets --name and --hostname
PODNAME="test-pod"
HOSTNAME=${PODNAME}

# Sets --publish
SERVICES=(
  "-p 9000:9000/tcp" 
)

# For --network=slirp4netns (rootless)
SLIRP4NETNS=(
	"allow_host_loopback=false"
	"cidr=192.168.123.0/24"
	"enable_ipv6=false"
	"port_handler=rootlesskit"
)

# Sets --network and can be slirp4netns|bridge|host
NETWORK="slirp4netns"
